<nav>
  <ul>
    {{ $currentPage := . }} 
    {{ range site.Menus.main }} 
    {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }} 
    {{- $page_url := $currentPage.Permalink | absLangURL }}
    <li>
      <a href="{{ .URL }}" class="{{ if eq $menu_item_url $page_url }} active {{ end }}">
        {{ .Name }}
      </a>
      <span class="text-rose-500 hover:text-rose-400 text-lg">.</span>
    </li>
    {{ end }}
    <li class="-mt-2 block lg:hidden">{{ partial "header/theme-button" . }}</li>
  </ul>
</nav>
